

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--space);
    padding: 15px var(--space);
    background-color: var(--sec-background);


    &>.logo{
        font-size: 1.35rem;
        font-weight: 500;
    }
}