.info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.225rem;
    line-height: 1.5rem;
    column-gap: 15px;
    border-bottom: solid 1.25px var(--border);
    padding: 20px 15px;

    &.stripped{
        border: none;
        padding: 0;
    }

    &>.label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4px;
        text-transform: capitalize;
        font-weight: 500;

        svg {
            display: flex;
            font-size: 1.5rem;
        }
    }

    &>.value {
        text-align: right;
    }

}