.homePage {
    padding: 45px var(--space);
}

.currentInfo {
    margin: 0 auto;
    max-width: 900px;

    padding: 20px 25px;
    border-radius: 20px;

    background-color: white;

    -webkit-box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);
    -moz-box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);
    box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;
        padding: 0 10px 15px;
        border-bottom: 1.5px solid var(--border);

        .header_left {
            .title {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .calcTime {
                font-size: 1.05rem;
            }
        }

        .header_right {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            align-items: flex-end;

            .cityName {
                font-size: 1.25rem;
                font-weight: 500;
            }

            .coordinates {
                font-size: 1.05rem;
            }
        }
    }

    .basicInfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 60px;
        padding: 20px 10px;
        border-bottom: 1.5px solid var(--border);

        .iconGRP {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            row-gap: 4px;

            .icon {
                display: flex;
                font-size: 3.5rem;
                line-height: 3.6rem;
            }

            .iconText {
                font-size: 1.25rem;
                line-height: 1.275rem;
            }
        }

        .tempGRP {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-grow: 1;
            row-gap: 4px;

            .temp {
                font-size: 2.25rem;
                line-height: 2.35rem;
                // font-weight: 500;
            }

            &>.infos {
                max-width: 225px;
                margin-top: 7.5px;
                display: flex;
                flex-direction: column;
                row-gap: 7.5px;
            }
        }
    }

    .detailedInfos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 25px;
    }
}

.forecast_title{
    max-width: 900px;
    font-size: 1.75rem;
    margin: 65px auto 0;
    border-bottom: 1.5px solid #aaa;
}

.forecastBoxes{
    margin: 30px auto 45px;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px 25px;
    justify-content: space-evenly;
}