.homePage {
    padding: 45px var(--space);
}

.revalidateBTN{
    display: block;
    width: fit-content;
    height: fit-content;
    background: none;
    margin: 0 auto 15px;
    font-size: 2rem;
    line-height: 2.1rem;
    cursor: pointer;
    transition: 250ms ease-in-out;

    &:hover{
        transform: rotate(180deg);
    }
}

.currentInfo {
    margin: 0 auto;
    max-width: 900px;

    padding: 20px 25px;
    border-radius: 20px;

    background-color: white;

    -webkit-box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);
    -moz-box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);
    box-shadow: 1px 3px 10px 1px rgba(34, 34, 34, 0.25);

    @media (max-width: 425px){
        padding: 20px 17.5px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 35px;
        padding: 0 10px 15px;
        border-bottom: 1.5px solid var(--border);

        .header_left {
            .title {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .calcTime {
                font-size: 1.05rem;
            }
        }

        .header_right {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            align-items: flex-end;

            .cityName {
                font-size: 1.25rem;
                font-weight: 500;
            }

            .coordinates {
                font-size: 1.05rem;
            }
        }

        @media (max-width: 630px){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 15px;

            .header_right{
                align-items: flex-start;
            }
        }

        @media (max-width: 575px){
            .header_left{
                .title{
                    font-size: 1.25rem;
                }

                .calcTime{
                    font-size: 1rem;
                }
            }

            .header_right{
                .cityName{
                    font-size: 1.15rem;
                }

                .coordinates{
                    font-size: 1rem;
                }
            }
        }

    }

    .basicInfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 35px;
        padding: 20px 10px;
        border-bottom: 1.5px solid var(--border);

        .iconGRP {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            row-gap: 7.5px;

            .icon {
                display: flex;
                font-size: 3.5rem;
                line-height: 3.6rem;
            }

            .iconText {
                font-size: 1.25rem;
                line-height: 1.275rem;
            }
        }

        .tempGRP {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-grow: 1;
            row-gap: 4px;

            .temp {
                font-size: 2.25rem;
                line-height: 2.35rem;
                // font-weight: 500;
            }

            &>.infos {
                max-width: 225px;
                margin-top: 7.5px;
                display: flex;
                flex-direction: column;
                row-gap: 7.5px;
            }
        }

        @media (max-width: 620px){
            flex-direction: column;
            align-items: center;
            row-gap: 25px;

            .tempGRP{
                align-items: center;
            }
        }

        @media (max-width:370px){
            align-items: flex-start;

            .tempGRP{
                align-items: flex-start;
            }
        }
    }

    .detailedInfos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 25px;


        @media (max-width: 775px){
            grid-template-columns: 1fr;
        }
    }
}

.forecast_title{
    max-width: 900px;
    font-size: 1.5rem;
    margin: 65px auto 0;
    border-bottom: 1.5px solid #aaa;

    @media (max-width: 605px){
        text-align: center;
    }

    @media (max-width: 475px){
        font-size: 1.3rem;
    }
}

.forecastBoxes{
    margin: 30px auto 45px;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px 25px;
    justify-content: space-evenly;
}